@model IEnumerable<TodoWeb.Models.Category>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Todo" asp-action="Index" asp-route-categoryId="@item.Id">@item.Name</a>
    </li>
}